body {
    background: linear-gradient(#e66465, #9198e5, #e66465);
    font-family: 'PT sans';
    color: white;
    font-family: 'Archivo Black';
}

.logo {
    width: 400px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.glow-button {
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #df3d73;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}

.glow-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: radial-gradient(circle, rgb(0, 60, 255), rgba (0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.5s;
}

.glow-button:hover {
    background-color: #df3d73;
    box-shadow: 0 0 15px #df3d73, 0 0 30px #00ccff, 0 0 45px #df3d73;
}

.glow-button:hover::before {
    opacity: 1;
}